<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Details</title>
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/favicon.ico') }}"
      type="image/x-icon"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/book_detail.css') }}"
    />
  </head>
  <body>
    {% include 'header.html' %}

    <main>
      <div class="container d-flex bg-book text-light p-5">
        <div>
          <img
            src="{{ url_for('static', filename=book.cover) }}"
            alt="Book Cover"
            width="310px"
            height="450px"
          />
        </div>
        <div class="ps-4">
          <h2 class="title">{{ book.title }}</h2>
          <p>
            <span class="opacity-75">Author: </span
            ><span class="author">{{ book.author }}</span>
          </p>
          <p>
            <span class="opacity-75">Year: </span
            ><span class="year">{{ book.publish_year }}</span>
          </p>
          <p>
            <span class="opacity-75">Publisher: </span
            ><span class="publisher">{{ book.publisher }}</span>
          </p>
          <p>
            <span class="opacity-75">Summary: </span><br />
            <span class="summary">{{ book.summary }}</span>
          </p>
          <p>
            <span class="opacity-75">Category: &nbsp;</span>
            <a
              href="{{ url_for('views.books_by_category_id', category_id=book.category_id) }}"
              class="rounded-pill btn btn-outline-light px-5 category"
              >{{ book.category_name }}</a
            >
          </p>
          <div class="button-group mt-4 mb-2">
            <a
              href="{{ url_for('views.read_book', book_id=book.id) }}"
              target="_blank"
              class="btn btn-primary btn-lg me-3"
            >
              <i class="fa-solid fa-book-open me-2"></i>Read Online
            </a>
            <a
              href="{{ url_for('views.download_book', book_id=book.id) }}"
              class="btn btn-success btn-lg"
            >
              <i class="fa-solid fa-download me-2"></i>Download
            </a>
          </div>

          <p class="opacity-75 mt-2">
            <span>
              <i class="fa-regular fa-eye"></i>
              <span class="views">{{ book.view_count }}</span> views
            </span>
            <span class="ms-3">
              <i class="fa-solid fa-download"></i>
              <span class="downloads">{{ book.download_count }}</span> downloads
            </span>
          </p>
        </div>
      </div>
    </main>

    {% include 'footer.html' %}

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
  </body>
</html>
