<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/header.css') }}"
/>
<link
  rel="icon"
  href="{{ url_for('static', filename='images/favicon.ico') }}"
  type="image/x-icon"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
/>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>

<div id="header">
  <header class="container-fluid position-relative">
    <nav class="navbar navbar-expand-lg navbar-light py-3">
      <div class="container">
        <!-- Brand Logo -->
        <a
          class="navbar-brand d-flex align-items-center"
          href="{{ url_for('views.index') }}"
        >
          <img
            src="{{ url_for('static', filename='images/logo-icon.svg') }}"
            alt="Library Logo"
            width="60"
            height="60"
          />
          <span class="fs-3 ms-2" style="color: #ffffff">Library</span>
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Links and Search Bar -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link d-flex align-items-center"
                href="{{ url_for('views.index') }}"
              >
                <i
                  class="fa-sharp fa-solid fa-house me-2"
                  style="transform: translateY(-1px)"
                ></i>
                Home
              </a>
            </li>

            <li class="nav-item">
              <a
                class="nav-link d-flex align-items-center"
                href="{{ url_for('views.category') }}"
              >
                <i class="fa-solid fa-th-large me-2"></i> Categories
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link d-flex align-items-center"
                href="{{ url_for('views.books') }}"
              >
                <i class="fa-solid fa-book me-2"></i> Books
              </a>
            </li>
          </ul>

          <!-- Search Bar -->
          <div class="d-flex align-items-center ms-lg-3 ms-auto">
            <form
              action="{{ url_for('views.search_books') }}"
              method="GET"
              class="d-flex w-100"
            >
              <div class="input-group search-container">
                <input
                  type="search"
                  name="title"
                  class="form-control search-bar"
                  placeholder="Search for books..."
                  aria-label="Search"
                />
                <button class="btn btn-outline-secondary" type="submit">
                  <i class="fa-solid fa-search"></i>
                </button>
              </div>
            </form>
          </div>

          <!-- Conditional Rendering for User Actions -->
          <div class="d-flex ms-lg-3">
            {% if session.get('user_id') %}
            <!-- User Dropdown for Logged-in User -->
            <div class="dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="userDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <img
                  src="{{ url_for('static', filename=g.user.avatar) }}"
                  alt="User Avatar"
                  width="40"
                  height="40"
                  class="rounded-circle"
                />
              </a>
              <ul
                class="dropdown-menu dropdown-menu-user dropdown-menu-end bg-dark text-light"
                aria-labelledby="userDropdown"
              >
                <li>
                  <a
                    class="dropdown-item d-flex align-items-center text-light"
                    href="{{ url_for('views.profile', user_id=session['user_id']) }}"
                  >
                    <i class="fa-solid fa-address-card me-2"></i> Profile
                  </a>
                </li>
                {% if g.user and g.user.role == 'user' %}
                <li>
                  <a
                    class="dropdown-item d-flex align-items-center text-light"
                    href="{{ url_for('views.favorites', user_id=session['user_id']) }}"
                  >
                    <i class="fa-solid fa-star me-2"></i> Favorites
                  </a>
                </li>
                <li>
                  <a
                    class="dropdown-item d-flex align-items-center text-light"
                    href="{{ url_for('views.requests', user_id=session['user_id']) }}"
                  >
                    <i class="fa-solid fa-code-pull-request me-2"></i>Request Book
                  </a>
                </li>
                {% endif %}
                <li>
                  <a
                    class="dropdown-item d-flex align-items-center text-light"
                    href="{{ url_for('auth.change_password') }}"
                  >
                    <i class="fa-solid fa-lock me-2"></i> Change Password
                  </a>
                </li>
                <li><hr class="dropdown-divider border-secondary" /></li>
                {% if g.user.role == 'admin' %}
                <li>
                  <a
                    class="dropdown-item d-flex align-items-center text-light"
                    href="{{ url_for('views.dashboard') }}"
                  >
                    <i class="fa-solid fa-gauge me-2"></i> Admin Dashboard
                  </a>
                </li>
                {% endif %}
                <li>
                  <a
                    class="dropdown-item d-flex align-items-center text-light logout-btn"
                    href="{{ url_for('auth.logout') }}"
                  >
                    <i class="fa-solid fa-right-from-bracket me-2"></i> Logout
                  </a>
                </li>
              </ul>
            </div>
            {% else %}
            <!-- Login and Register Buttons for Guests -->
            <a
              href="{{ url_for('auth.login_page') }}"
              class="btn btn-login rounded-pill px-4 me-2"
            >
              <i class="fa-solid fa-sign-in-alt me-2"></i>Login
            </a>
            <a
              href="{{ url_for('auth.signup_page') }}"
              class="btn btn-register rounded-pill px-4"
            >
              <i class="fa-solid fa-user-plus me-2"></i>Register
            </a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  </header>
</div>
