<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/login.css') }}"
    />
  </head>
  <body>
    <div class="container-fluid d-flex h-100 p-0">
      <aside class="bg-title left-aside h-100 p-3">
        <div class="text-center mt-5">
          <h2 class="title">Login</h2>
          <p>
            Don't have an account?
            <a
              href="{{ url_for('auth.signup_page') }}"
              class="text-main underline"
              >Register</a
            >
          </p>
        </div>

        <form>
          <div
            class="input-group input-group-lg border-bottom border-secondary mb-4"
          >
            <div class="form-floating d-flex align-items-center">
              <input
                class="form-control bg-transparent border-0 shadow-none"
                type="text"
                id="email"
                name="email"
                placeholder="Enter your email"
              />
              <label for="email">Email</label>
              <span class="pe-4"><i class="fa-regular fa-envelope"></i></span>
            </div>
          </div>

          <div
            class="input-group input-group-lg border-bottom border-secondary mb-4"
          >
            <div class="form-floating">
              <input
                class="form-control bg-transparent border-0 shadow-none"
                id="password"
                name="password"
                placeholder="Enter your password"
                type="password"
              />
              <label class="" for="password">Password</label>
              <span class="pe-4"><i class="fa-solid fa-lock"></i></span>
            </div>
          </div>

          <div class="ps-2 mb-4">
            <input
              type="checkbox"
              name="remember"
              id="remember"
              class="bg-transparent border-secondary"
            />
            <label for="remember" class="">Remember Me</label>
          </div>

          <div class="text-center">
            <button
              type="submit"
              class="btn-login py-2 border bg-main text-light rounded-pill w-75"
            >
              Login
            </button>
          </div>

          <!-- <p class="text-center mt-3">Forgot password? <a href="forgot_password.html" class="underline opacity-75">Reset password</a></p> -->
        </form>
      </aside>
      <div class="bg-login w-100"></div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
